<ion-header *ngIf="screen_width < 992">
  <ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-button icon-only (click)="toggleMenu()">
				<ion-icon class="menu-icon-controller rotate-icon-open" [name]="menu ? 'close' : 'menu'" id="menu-icon"></ion-icon>
			</ion-button>
		</ion-buttons>
		<div class="header-components-container">
			<img src="assets/imgs/logoOrange.png" class="logo"/>
		</div>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="menu-container" id="menu" *ngIf="screen_width < 992">
		<ion-list class="no-padding">
			<a routerLink="/accueil" routerDirection="root">
				<ion-item class="menu-list" [ngClass]="validRouter('accueil') ? 'active-link' : ''" id="ion-item-list">
					<ion-thumbnail class="thumbnail">
						<ion-icon class="home-icon" name="home"></ion-icon>
					</ion-thumbnail>
					Accueil
				</ion-item>
			</a>
			<div *ngFor="let category of categories">
				<a routerLink="/{{category.router}}" routerDirection="root">
					<ion-item class="menu-list" [ngClass]="validRouter(category.router) ? 'active-link' : ''" id="ion-item-list">
						{{category.title}}
					</ion-item>
				</a>
			</div>
		</ion-list>
		<div class="center-contents menu-footer">
			<a href="https://www.facebook.com/btscom19/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
		</div>
	</div>

	<div class="side-menu" *ngIf="screen_width >= 992">
		<div class="center-contents">
			<img src="assets/imgs/logoOrange.png" class="logo-side-menu"/>
		</div>
		<ion-list class="no-padding">
			<a routerLink="/accueil" routerDirection="root">
				<ion-item class="menu-list" [ngClass]="validRouter('accueil') ? 'active-link' : ''" id="ion-item-list">
					<ion-thumbnail class="thumbnail">
						<ion-icon class="home-icon" name="home"></ion-icon>
					</ion-thumbnail>
					Accueil
				</ion-item>
			</a>
			<div *ngFor="let category of categories">
				<a routerLink="/{{category.router}}" routerDirection="root">
					<ion-item class="menu-list" [ngClass]="validRouter(category.router) ? 'active-link' : ''" id="ion-item-list">
						{{category.title}}
					</ion-item>
				</a>
			</div>
		</ion-list>
		<div class="center-contents menu-footer">
			<a href="https://www.facebook.com/btscom19/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
		</div>
	</div>

	<div id="page-content">

		<div class="center-contents">
			<h2 class="page-title angelinatta">Qui sommes-nous ?</h2>
		</div>

		<ion-row>
			<ion-col size="1"></ion-col>
			<ion-col size="4" class="center-contents" [ngClass]="onPage('blog') ? 'selected-page' : ''">
				<a routerLink="/qui_sommes_nous" [queryParams]="{c: 'blog'}" class="page angelinatta" (click)="getRouter()">
					"Blog"
				</a>
			</ion-col>
			<ion-col size="2"></ion-col>
			<ion-col size="4" class="center-contents" [ngClass]="onPage('bts_com') ? 'selected-page' : ''">
				<a routerLink="/qui_sommes_nous" [queryParams]="{c: 'bts_com'}" class="page angelinatta" (click)="getRouter()">
					"BTS Com"
				</a>
			</ion-col>
			<ion-col size="1"></ion-col>
		</ion-row>

		<div class="center-contents content">
			<div class="content-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
					ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
					qui officia deserunt mollit anim id est laborum.
				</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
					ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
					qui officia deserunt mollit anim id est laborum.
				</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
					ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
					qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>

	</div>
</ion-content>
