.header-components-container {
	display: flex;
}

.logo {
	width: 20vw;
	height: auto;
	max-width: 150px;
	min-width: 120px;
	padding: 10px 20px;
}

.padding-list {
	padding: 0 10vw;
}

ul {
	list-style: none;
	margin: auto 0;
	text-align: center;
}

ul li {
	display: inline-block;
	width: auto;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-right: 2rem;
	font-weight: bold;
	background-color: transparent;
	cursor: pointer;
}

li:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #f28d48;
  transition: 0.3s;
}

li:hover:after {
  width: 100%;
}

a {
	color: white;
	text-decoration: none;
	display: inherit;
}

.active-link {
	border-bottom: 2px solid #f28d48;
}

.social-link {
	font-size: 30px !important;
}

.menu-icon-controler {
	font-size: 24px;
}

.menu-container {
	margin-left: 100vw;
	height: 100vh;
	width: 100vw;
	overflow-x: scroll;
	background-color: #1c1c1b;
}

#menu {
	position: absolute;
	left: 0px;
	width: 100%;
	max-width: 400px;
	height: 100%;
	top: 0;
	transition: 0.5s;
}

.menu-list {
	background-color: #1c1c1b;
	--background: #1c1c1b;
	color: white;
}

#ion-item-list:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #f28d48;
  transition: 0.3s;
}

#ion-item-list:hover:after {
  width: 100%;
}

.no-padding {
	padding: 0;
}

.thumbnail {
	display: inherit;
}

.home-icon {
	padding-right: 20px;
}

.center-contents {
	display: flex;
	justify-content: center;
}
