.header-components-container {
	display: flex;
	justify-content: flex-end;
}

.logo {
	width: 20vw;
	height: auto;
	max-width: 120px;
	min-width: 100px;
	padding: 10px 20px;
}

.logo-side-menu {
	width: 20vw;
	height: auto;
	max-width: 180px;
	min-width: 150px;
	padding: 30px 20px;
}

.rotate-icon-open {
	transform: rotate(-180deg);
	transition: 0.5s;
}

.rotate-icon-close {
	transform: rotate(180deg);
	transition: 0.5s;
}

a {
	color: white;
	text-decoration: none;
	display: inherit;
}

.active-link {
	border-bottom: 2px solid #f28d48;
}

.menu-icon-controller {
	font-size: 30px;
}

.menu-container {
	margin-left: 0vw;
	height: 100vh;
	width: 100vw;
	overflow-x: scroll;
	background-color: #1c1c1b;
}

#menu {
	position: absolute;
	left: -400px;
	width: 100%;
	max-width: 400px;
	height: 100%;
	top: 0;
	transition: 0.5s;
}

.menu-list {
	background-color: #1c1c1b;
	--background: #1c1c1b;
	color: white;
}

#ion-item-list:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #f28d48;
  transition: 0.3s;
}

#ion-item-list:hover:after {
  width: 100%;
}

.no-padding {
	padding: 0;
}

.thumbnail {
	display: inherit;
}

.home-icon {
	padding-right: 20px;
}

.center-contents {
	display: flex;
	justify-content: center;
}

.menu-footer {
	position: absolute;
	width: 100%;
	bottom: 20px;
	font-size: 30px;
	color: white;
}

.side-menu {
	width: 400px;
	height: 100%;
	background-color: #1c1c1b;
}

.side-menu .menu-footer {
	width: 400px;
}
